/* Timeline */
.timeline {
    list-style: none;
    padding: 0;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #6c7293;
    left: 50%;
    margin-left: -1.5px;
}

.timeline .timeline-wrapper {
    display: block;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    padding-right: 90px;
}

.timeline .timeline-wrapper:before {
    content: " ";
    display: table;
}

.timeline .timeline-wrapper:after {
    content: " ";
    display: table;
    clear: both;
}

.timeline .timeline-wrapper .timeline-panel {
    padding: 20px;
    position: relative;
    border-radius: 0 0 6px 6px;
    box-shadow: 1px 2px 35px 0 rgba(1, 1, 1, 0.1);
    width: 35%;
    margin-left: 15%;
}

.timeline .timeline-wrapper .timeline-panel:before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 2px;
    content: "";
    left: 0;
    right: 0;
}

.timeline .timeline-wrapper .timeline-panel:after {
    position: absolute;
    top: 10px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline .timeline-wrapper .timeline-panel .timeline-title {
    margin-top: 0;
    color: #001737;
    text-transform: uppercase;
}

.timeline .timeline-wrapper .timeline-panel .timeline-body p + p {
    margin-top: 5px;
}

.timeline .timeline-wrapper .timeline-panel .timeline-body ul {
    margin-bottom: 0;
}

.timeline .timeline-wrapper .timeline-panel .timeline-footer span {
    font-size: .6875rem;
}

.timeline .timeline-wrapper .timeline-panel .timeline-footer i {
    font-size: 1.5rem;
}

.timeline .timeline-wrapper .timeline-badge {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 16px;
    left: calc(50% - 7px);
    z-index: 10;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border: 2px solid #ffffff;
}

.timeline .timeline-wrapper.timeline-inverted {
    padding-right: 0;
    padding-left: 90px;
}

.timeline .timeline-wrapper.timeline-inverted .timeline-panel {
    margin-left: auto;
    margin-right: 15%;
}

.timeline .timeline-wrapper.timeline-inverted .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

@media (max-width: 767px) {
    .timeline .timeline-wrapper {
        padding-right: 150px;
    }
    .timeline .timeline-wrapper.timeline-inverted {
        padding-left: 150px;
    }
    .timeline .timeline-wrapper .timeline-panel {
        width: 60%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 576px) {
    .timeline::before {
        right: 0;
        left: unset;
    }
    .timeline .timeline-wrapper .timeline-badge {
        right: -5px;
        left: unset
    }
    .timeline .timeline-wrapper {
        width: 100%;
	padding-right: 0;
    }
    .timeline .timeline-wrapper .timeline-panel {
        width: 90%;
    }
    .timeline .timeline-wrapper.timeline-inverted {
        padding-right: 0;
        padding-left: 0;
    }

    .timeline .timeline-wrapper.timeline-inverted .timeline-panel {
        margin-right: 0;
        margin-left: 0;
    }

    .timeline .timeline-wrapper.timeline-inverted .timeline-panel:after {
        border-left-width: 14px;
        border-right-width: 0;
        right: -14px;
        left: auto;
    }
}

.timeline-wrapper .timeline-panel:before {
    background: #54a3d8;
}

.timeline-wrapper .timeline-badge {
    background: #54a3d8;
}


@media (prefers-color-scheme: dark){
    .timeline-panel:after ,.timeline-panel:before{
        border-left-color: #4d4d4d !important;
        border-right-color: #4d4d4d !important;
    }
    .timeline .timeline-wrapper .timeline-panel{
        background-color: #4d4d4d;
        box-shadow: none;
    }
    .timeline-title{
        color: #fff !important;
    }
}

 h3.card-heading{
    margin-top: 0 !important;
}
 .editor-toolbar.fullscreen{
     z-index: 100000 !important;
 }
.editor-toolbar.fullscreen::before,
.editor-toolbar.fullscreen::after
{
    width: 0 !important;
}

@media (prefers-color-scheme: dark) {
    .editor-toolbar{
        border: none !important;
        background: #31363b !important;
        border-bottom: 1px solid #232629 !important;
    }
    .editor-toolbar i {
        color: white;
    }
    .editor-toolbar button:hover i,
    .editor-toolbar button.active i
    {
        color: #31363b;
    }
    div.CodeMirror{
        background: #31363b !important;
        border: none;
    }
    span.CodeMirror-selectedtext{
        color: #31363b;
    }

    div.CodeMirror-cursor{
        border-left: 1px solid white;
    }

    div.editor-preview{
        color: #31363b ;
    }

    textarea.form-control{
        border-color: #fff;
    }
}

#comment_mentor_message, #comment_student_message{
    margin-top: 1rem;
}

/*for sample certificate only*/
.containerBox{
    width: 100%;
    height: 100%;
    border: 2px solid black;
    text-align: center;
    display: -webkit-box; /* wkhtmltopdf uses this one */
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-box-pack: justify;
    padding-bottom: 20px;
}

.cert-body{
    margin: 0 auto;
    width:900px;
    height: 600px;
    font-family: Noto Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
