{#
SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-License-Identifier: AGPL-3.0-or-later
#}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}
    <link href="https://cdn.kde.org/aether-devel/bootstrap.css" rel="stylesheet"/>
    <link href="https://cdn.kde.org/aether-devel/aether-kde-org.css" rel="stylesheet"/>
    <link href="{{ asset('css/app.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset('css/easymde.min.css') }}">
  {% endblock %}
</head>
<body>
<header id="KGlobalHeader" class="header clearfix">
  <nav class="navbar navbar-expand-sm">
    <a aria-label="KDE Homepage" class="kde-logo navbar-brand active" href="/">Season of KDE</a>
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <ul class="navbar-nav ml-auto mr-3">
            <li class="nav-item">
                <a class="nav-link text-dark" href="{{ path('connect_mykde') }}">Login</a>
            </li>
        </ul>
    {% else %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarsExampleDefault" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-3">
          <li class="nav-item">
            <a class="nav-link text-dark" href="{{ path('profile') }}">Profile</a>
          </li>
         {% if is_granted('ROLE_ADMIN') %}
             <li class="nav-item">
                 <a class="nav-link text-dark" href="{{ path('app_admin_dashboard_index') }}">Admin</a>
             </li>
         {% endif %}
        {% if date() > season.projectsAnnouncement %}
            <li class="nav-item mr-auto">
                <a class="nav-link text-dark" href="{{ path('projects_accepted',{id: season.id}) }}">Accepted Projects</a>
            </li>
        {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
         <li class="nav-item">
             <a class="nav-link text-dark" href="{{ path('app_logout') }}">Logout</a>
         </li>
        </ul>
    </div>
    {% endif %}
  </nav>
</header>

{% block header %}
{% endblock %}

<main class="container">
  {% for label, messages in app.flashes() %}
    {% for message in messages %}
      <div class="alert alert-{{ label }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endfor %}
  {% block body %}{% endblock %}
</main>
{% block javascripts %}
  <script src="https://cdn.kde.org/aether-devel/bootstrap.js"></script>
  <script src="{{ asset('js/easymde.min.js') }}"></script>
  <script src="{{ asset('js/markdown.js') }}"></script>
{% endblock %}
</body>
</html>
