{#
SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-License-Identifier: AGPL-3.0-or-later
#}
{% extends 'base.html.twig' %}

{% block header %}
  <div class="bg-light py-3 mb-3 border-bottom">
    <div class="container">
      <div class="row col-md-10 mx-auto">
        <div class="col-auto">
            <img src="https://kde.org/stuff/clipart/logo/kde-logo-bluegradient-w-slug-vectorized.svg" alt="Season of KDE logo" style="min-width: 200px" />
        </div>
        <div class="col my-auto">
          <h2 class="mt-1">Welcome to Season of KDE</h2>
          <h3 class="h5">Season of KDE is an outreach program hosted by the KDE community.</h3>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="text-center">{{ season.title }}</h1>
    <p>Every year since 2013, KDE Student Programs has been running Season of KDE as a program similar to, but not quite the same as Google Summer of Code, offering an opportunity to everyone (not just students) to participate in both code and non-code projects that benefits the KDE ecosystem. In the past few years, SoK participants have not only contributed new application features but have also developed the KDE Continuous Integration System, statistical reports for developers, a web framework, ported KDE Applications, created documentation and lots and lots of other work.</p>
    <p>For some inspiration for your proposals, take a look at our <a href="https://community.kde.org/SoK/Ideas/2021">Ideas</a> page. 
    <div class="row">
      <div class="col-12">
        <div class="mt-5">
          <div class="timeline">
            <div class="timeline-wrapper">
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h6 class="timeline-title">Start of {{ season.title }}</h6>
                </div>
{#                <div class="timeline-body">#}
{#                  <p></p>#}
{#                </div>#}
                <div class="timeline-footer d-flex align-items-center flex-wrap">
                  <i class="mdi mdi-heart-outline text-muted mr-1"></i>
                  <span class="ml-md-auto font-weight-bold">{{ season.startTime|format_date('long', locale='en') }}</span>
                </div>
              </div>
            </div>
            <div class="timeline-wrapper timeline-inverted">
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h6 class="timeline-title">Deadline for the mentor applications.</h6>
                </div>
                <div class="timeline-footer d-flex align-items-center flex-wrap">
                  <i class="mdi mdi-heart-outline text-muted mr-1"></i>
                  <span class="ml-md-auto font-weight-bold">{{ season.deadlineMentor|format_date('long', locale='en') }}</span>
                </div>
              </div>
            </div>
            <div class="timeline-wrapper">
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h6 class="timeline-title">Deadline for the Student applications.</h6>
                </div>
                <div class="timeline-footer d-flex align-items-center flex-wrap">
                  <i class="mdi mdi-heart-outline text-muted mr-1"></i>
                  <span class="ml-md-auto font-weight-bold">{{ season.deadlineStudent|format_date('long', locale='en') }}</span>
                </div>
              </div>
            </div>
            <div class="timeline-wrapper timeline-inverted">
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h6 class="timeline-title">Projects announced</h6>
                </div>

                <div class="timeline-footer d-flex align-items-center flex-wrap">
                  <i class="mdi mdi-heart-outline text-muted mr-1"></i>
                  <span class="ml-md-auto font-weight-bold">{{ season.projectsAnnouncement|format_date('long', locale='en') }}</span>
                </div>
              </div>
            </div>
            <div class="timeline-wrapper">
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h6 class="timeline-title">Start of work</h6>
                </div>
                <div class="timeline-footer d-flex align-items-center flex-wrap">
                  <i class="mdi mdi-heart-outline text-muted mr-1"></i>
                  <span class="ml-md-auto font-weight-bold">{{ season.startWork|format_date('long', locale='en') }}</span>
                </div>
              </div>
            </div>
            <div class="timeline-wrapper timeline-inverted">
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h6 class="timeline-title">End of work</h6>
                </div>
                <div class="timeline-footer d-flex align-items-center flex-wrap">
                  <i class="mdi mdi-heart-outline text-muted mr-1"></i>
                  <span class="ml-md-auto font-weight-bold">{{ season.endWork|format_date('long', locale='en') }}</span>
                </div>
              </div>
            </div>
            <div class="timeline-wrapper">
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h6 class="timeline-title">Results announced</h6>
                </div>
                <div class="timeline-footer d-flex align-items-center flex-wrap">
                  <i class="mdi mdi-heart-outline text-muted mr-1"></i>
                  <span class="ml-md-auto font-weight-bold">{{ season.resultAnnouncement|format_date('long', locale='en') }}</span>
                </div>
              </div>
            </div>
            <div class="timeline-wrapper timeline-inverted">
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h6 class="timeline-title">Certificates issued</h6>
                </div>
                <div class="timeline-footer d-flex align-items-center flex-wrap">
                  <i class="mdi mdi-heart-outline text-muted mr-1"></i>
                  <span class="ml-md-auto font-weight-bold">{{ season.certificatesIssued|format_date('long', locale='en') }}</span>
                </div>
              </div>
            </div>
            <div class="timeline-wrapper">
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h6 class="timeline-title">Merchandise and Swag sent out by courier.</h6>
                </div>
                <div class="timeline-footer d-flex align-items-center flex-wrap">
                  <i class="mdi mdi-heart-outline text-muted mr-1"></i>
                  <span class="ml-md-auto font-weight-bold">After the end</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div
{% endblock %}
