{#
SPDX-FileCopyrightText: 2020 Anuj Bansal <bansalanuj9@gmail.com>

SPDX-License-Identifier: AGPL-3.0-or-later
#}
{% extends 'base.html.twig' %}

{% block title %}Accepted Projects{% endblock %}

{% block body %}
    <div class="card mt-3 mb-3 p-0">
        <div class="card-header d-flex justify-content-between">
           Accepted Projects for {{ season.title }}
        </div>
        <table class="table card-body">
            <thead>
            <tr>
                <th>Title</th>
                <th>Mentors</th>
                <th>Completed</th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td>
                        <a href="{{ path('project_view', {'id': project.id}) }}">{{ project.title }}</a>
                    </td>
                    <td>
                        {% for mentor in project.mentors %}
                            {{ mentor.username }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    <td class="{{ project.completed ? "text-success" : "text-danger" }}">
                        {{  project.completed ? "Yes" : "No" }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
